.store-banner-store-banner {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.store-banner-link {
  display: contents;
}
.store-banner-image {
  width: 135px;
  object-fit: cover;
  text-decoration: none;
}
.store-banner-root-class-name {
  margin: Unit;
}
.store-banner-root-class-name1 {
  margin: Unit;
}
.store-banner-root-class-name2 {
  margin: Unit;
}
.store-banner-root-class-name3 {
  margin: Unit;
}
.store-banner-root-class-name4 {
  margin: Unit;
}
.store-banner-root-class-name5 {
  margin: Unit;
}
.store-banner-root-class-name6 {
  margin: Unit;
}
.store-banner-root-class-name7 {
  margin: Unit;
}
.store-banner-root-class-name8 {
  margin: Unit;
}
.store-banner-root-class-name9 {
  margin: Unit;
}
.store-banner-root-class-name10 {
  margin: Unit;
}
